<header>
  <h1>Angular + D3</h1>
</header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <div class="title">
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title" />
    <label for="subTitle">Subtitle</label>
    <input id="subTitle" type="text" formControlName="subTitle" />
  </div> -->
  <h2>Data</h2>
  <div>{{dataStore$ | async}}</div>
  <div formArrayName="data">
    <div *ngFor="let datum of data.controls; let i = index" [formGroupName]="i">
      <!-- The repeated alias template -->
      <label for="Framework-{{ i }}">Framework:</label>
      <input id="Framework-{{ i }}" type="text" formControlName="Framework" />
      <label for="Stars-{{ i }}">Stars:</label>
      <input id="Stars-{{ i }}" type="number" formControlName="Stars" />
      <label for="Released-{{ i }}">Released:</label>
      <input id="Released-{{ i }}" type="text" formControlName="Released" />
      <button (click)="onDeleteData(i)">X</button>
    </div>
  </div>
  <button (click)="onAddData()" type="button">+ Add</button>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<div class="chart-wrapper">
  <app-bar [dataValue]="dataValue"></app-bar>
  <!-- <app-pie [dataValue]="dataValue"></app-pie> -->
  <app-scatter [dataValue]="dataValue"></app-scatter>
</div>
