mat-slider {
  width: 300px;
}

.nav-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
